<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ironyun.mjpeg">

    <application>
        <activity android:name=".LiveViewActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale"
            android:screenOrientation="sensor"
            />
    </application>
</manifest>
